*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
body{
    width: 100%;
} /*#2c8c52*/
.donate-btn{
    width: 100px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    border: none;
    background-color: #2c8c52;
    color: #fff;
    border-radius: 5px;
}
.donate-btn:hover{
    background-color: #67d593;
}
.navbar-links li {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .navbar-links li::after {
    content: '';
    position: absolute;
    bottom: -10px; /* distance between text and underline */
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #2c8c52;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  
  .navbar-links li:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
  }